body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #fDfDfD;
}

.navbar-inner .btn{
	margin-top: 7px;
}

.white {
	font-size: 14px;
	color: #FFF;
	margin: 7px 30px 0 0;
}

.taskuser {
    margin-left: 50px;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}


p {
	margin: 5px 0;
}


textarea {
	width: 90%;
}

.nav {
	margin: 30px 0;
}

.nav li {
	margin: 0 10px;
}

.add_subtask {
	width: 65%;
	margin: 30px 0;
	padding: 10px 20px;
	border-radius: 3px;
	background-color:#EEE;
	border:1px solid #DDD;
}

.add_subtask input[type="text"]{
	width: 85%;
}

.subtasks  {
	list-style: none;
}

.subtasks li{
	width: 60%;
	margin: 10px 0;
}

.end {
	color:#888;
	text-decoration: line-through;
}

.end a {
	color:#888;
}

#act_tasks,#end_tasks {
	list-style: none;
}
